<section>
	<header>
		<h4>Thread Form</h4>
	</header>
	<content>
		<form class="row col s12 m6">
			<div class="input-field col s12">
				<input id="thread-title" name="thread-title" type="text" class="validate {{validation.title.status}}" [(ngModel)]="form.title">
				<label for="thread-title">Title</label>
			</div>
			<div class="message-error" *ngIf="validation.title.status === 'invalid'">
				{{validation.title.message}}
			</div>
			<div class="input-field col s12">
				<textarea id="thread-desc" name="thread-desc" class="validate {{validation.desc.status}} materialize-textarea" [(ngModel)]="form.desc"></textarea>
				<label for="thread-desc">Description</label>
			</div>
			<div class="message-error" *ngIf="validation.desc.status === 'invalid'">
				{{validation.desc.message}}
			</div>
			<div class="btn-action">
				<button class="waves-effect waves-light btn grey lighten-2" type="reset" (click)="resetForm()">
					<i class="material-icons left">clear_all</i>
					Reset
				</button>
				<button class="waves-effect waves-light btn green accent-3" (click)="handleSubmit()">
					<i class="material-icons right">send</i>
					Submit
				</button>	
			</div>
			
		</form>
	</content>
	<footer></footer>
</section>