.auth {
	margin: 0 auto;
    text-align: center;
    max-width: 400px;

    &-form {
        input {
            text-indent: 0.8em;
        }

        .message {
            &-error {
                font-size: 0.85em;
                text-align: left;
                padding-left: 3.5em;
                margin-bottom: 1rem;
                font-style: italic;
                color: #f54236;
            }
        }
    }

    &-footer {

    	a {
    		text-decoration: underline;
    		cursor: pointer;
    	}
    	
    }
}