<div class="page-flexbox-wrapper">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
          Discussee
        </a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="#">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center">
      Copyright &copy; 2018 by <a class="grey-text text-lighten-4" href="#!">marudits</a>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
