<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/auth">Sign Out</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" (click)="goto('/')">
          Discussee
        </a>
        <ul id="nav-mobile" class="right" >
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">
              {{user ? user.email : 'Profile'}}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>