<div class="thread-list">
	<div class="thread-list__header">
		<h3>
			Thread List
			&nbsp;
			<button class="btn-floating waves-effect waves-light green" (click)="goto('/add')">
				<i class="material-icons">add</i>
			</button>
		</h3>
	</div>
	<div>
		<div *ngIf="dbComments && dbComments.length > 0" class="row">
			<div *ngFor="let item of dbComments;" class="thread-list__item col s12 m4">
				<thread-item [thread]="item"></thread-item>
			</div>
		</div>
		<div *ngIf="!dbComments || dbComments.length === 0" class="row">
			No Data
		</div>
	</div>
	<div>
		
	</div>
</div>